<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>currency exchange</title>
    <th:block th:include="fragments/imports :: head"></th:block>
</head>
<body class="error_page">
<div class="container-fluid no-gutters">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="error_header">Oops!</h1>
            <h1>Something went wrong here.</h1>
        </div>
    </div>
    <div class="row no-gutters fixed-bottom">
        <div onclick="location.href='/exchange'" class="col-6 col-md-4 panel">
            <p>conversion</p>
        </div>
        <div onclick="location.href='/info'" class="col-6 col-md-4 panel">
            <p>information about currencies</p>
        </div>
        <div onclick="location.href='/table'" class="col-6 col-md-4 panel">
            <p>table</p>
        </div>
    </div>
</div>
</body>
</html>